<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MasterConnection" connectionString="Data Source=(localdb)\MSSqlLocalDb;Database=master;Integrated Security=SSPI"/>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSqlLocalDb;Database=PostulateLite;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>