<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerMaster" connectionString="Data Source=(localdb)\MSSqlLocalDb;Database=master;Integrated Security=SSPI" />
    <add name="SqlServer" connectionString="Data Source=(localdb)\MSSqlLocalDb;Database=PostulateLite;Integrated Security=SSPI" />
    <add name="MySqlMaster" connectionString="Server=127.0.0.1; Port=3306; Uid=root; Pwd=Password12!; SSLMode=none" />
    <add name="MySql" connectionString="Server=127.0.0.1; Port=3306; Database=PostulateLite; Uid=root; Pwd=Password12!; SSLMode=none" />
  </connectionStrings>
</configuration>